@font-face {
    font-family: 'metamorphous';
    src: url('fonts/Metamorphous-Regular.ttf'), format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf'), format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

html{
    --montserrat: 'montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --metamorphous: 'metamorphous', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    margin-top: 0  ; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/paper.png');
    background-color:#FE5E02;
    height: 100vh;
}



.olympians {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
}

#calculate {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 30px;
    background-color: #FE5E02;
    font-family: var(--montserrat);
}

#calendar{
    border: #FE5E02;
    background-color: #FE5E02;
    padding: 7%;
    border-radius: 30px;
}


.cabins {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 4, 1fr;
}

.top_row{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.left_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message{
    text-align: center;
    justify-content: center;
    font-family: var(--metamorphous);
    align-items: baseline;
    position: fixed;
    top: 50px;
}
.calendar{
    text-align: center;
    font-family: var(--metamorphous);
}
.right_side{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bottom_row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.zodiac-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    width: 500px;
    background-color: blanchedalmond;
    border-radius: 30px;
    position: fixed;
}
#help {
    position: fixed;
    right: 30px;
    top: 50px;
    border: none;
    background-color: transparent;
}
#help-section {
    font-family: var(--metamorphous);
}

.zodiac-container{
    font-family: var(--metamorphous);
    text-align: center;
    align-items: center;
}